#container{
    /* border-style: solid; */
    padding: 20px 20px 20px 20px;
    width: 60%;
    height: 50%;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);

}
#sum{
    width: 95%;
    height: 50px;
    color: white;
    background-color: black;
    border-radius: 8px 8px 0px 0px;
    border-style: solid;
    text-align: right;
    /* font-weight: bold; */
    font-size: 20pt;
    padding-right: 10px;

}
#box{
    width: 24%;
    height: 40px;
    margin-bottom: 2px;
}
#eq{
    float: right;
    width: 24%;
    height: 166px;
    background-color:rgb(246, 77, 77);
    margin: 0;
    margin-right: 1%;
}