#container{
    /* border-style: solid; */
    padding: 20px 20px 20px 20px;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);

}
#height{
    height: 35px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0px 4px 0px 20px;
    border-style: solid;

}
#width{
    height: 35px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 0px 4px 0px 20px;
    border-style: solid;
}
#submit{
    width: 150px;
    height: 40px;
    color: white;
    background-color: green;
    border-radius: 5px;
    float: left;
    margin-right: 10px;
}
#area{
    margin-top: 10px;
    margin-left: 100px;
}